
a {
	color: #555555;
}

.pub-year{
	margin-bottom: 24pt;
}

.pub-year h2{
	font-size: 3.2em;
	font-weight: 100;
}

.pub-block{
	margin-bottom: 16pt;
	border-left: 2px #f8f8f8 solid;
	padding-left: 16px;
}


.conference-name {
	font-weight: 300;
	font-size: 1.0em;
}

.software-name {
	font-weight: 300;
	font-size: 1.6em;
	margin-bottom: 4px;
}

.blog-post {
	/* display: block; */
	/* height: 80px; */
	overflow: hidden;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	vertical-align: middle;
	padding: 10px 5px 10px 5px;
	margin-top: 20px;
}

.blog-post>.thumbnail {
	max-width: 200px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

@media screen and (max-width: 768px){
	.blog-post>.thumbnail {
		margin-top: 10px;
		margin-bottom: 25px;
	}
}

.blog-post>.preview {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* margin-top: 10px; */
	/* margin-bottom: 10px; */
}


.blog-post img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.blog-post h4 {
	/* line-height: 20px; */
	/* margin-bottom: 0; */
}

.blog-post > .preview >  p {
	display: -webkit-box;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; 
	margin-bottom: 0;
	margin-top: 4px;
}
